<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/ico/favicon.ico">

    <title>The MarketPlace</title>

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
	 <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

	 <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/beachstrap-styles.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target="#navigation">

	<div id="content">

	<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-10 col-xs-9">
				<h1 id="logo">The MarketPlace</h1>
				<!-- <h1 id="logo">The MarketPlace</h1> -->
			</div><!-- end 2 -->
			<div class="col-sm-2 col-xs-3 visible-sm text-right visible-xs">
				<a href="#" title="nav" class="mini-nav"><i class="fa fa-reorder"></i></a>
			</div>

			<div class="col-lg-6 col-lg-offset-3 col-md-7 col-md-offset-2 col-sm-12 col-xs-12">
				<nav id="navigation">
						<ul class="nav">
							<li class="active"><a href="#main" title="Home">Home</a></li>
							<li><a href="#home" title="About">About</a></li>
							<li><a href="#our-team" title="Our Team">Our Team</a></li>
							<li><a href="#contact" title="Contact">Contact</a></li>
							<!-- <li><a href="#blog" title="Blog">Blog</a></li> -->
						</ul>
				</nav>
			</div><!-- end 12 -->
		</div><!-- end row -->
	</div><!-- end container -->
	</header>

	<!-- mainImage -->
 	<div id="main">
 		<div class="container">
 			<div class="row">
				<div class="col-lg-7 col-lg-offset-5 col-md-8 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-12">
					<div class="cont-wrapper">
						<p class="intro">Introducing... The MarketPlace</p>
						<p class="btn-wrp"><a href="/login" class="c2a-button">Log In</a></p>
					</div><!-- end cont wrapper -->
				</div><!-- end 8 -->
 			</div>
 		</div><!-- end container -->
	</div><!-- end row -->

	<!-- intro strip -->
	<div id="intro-strip">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2"><h1>Promoting the small businesses that make our lives colorful</h1></div>
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end intro strip -->

<div id="home">
	<div class="container">
	<div class="row">
		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12  text">
			<h2>Of the 27.9 million small businesses in the USA...</h2>
			<p>a very small percentage can boast of a thriving onling presence. The Marketplace is a new venture aimed at connecting potential local 
			customers (Claflinites) to local small business owners in our immediate Claflin community. The Marketplace is in the introductory
			phase and aims to be fully launched in 2014.</p>
			<p><strong>Dedicated to the success of small businesses in our communities</strong></p>
			<p class="btn-wrp"><a href="/login" class="c2a-button">Get Started</a></p>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5 ipad hidden-xs">
			<img src="/static/images/claflin.jpg" class="img-responsive" alt="ipadShot" />
		</div>

	</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end home -->


	<!-- ========================= PARALLAX BACKGROUND STRIP ================================ -->

	<div id="parallax" data-speed="8" class="hidden-sm hidden-xs">
	</div>

<!-- ========================= TEAM STRIP ================================ -->
<div id="our-team">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h2>Our Team</h2>
				<p>The MarketPlace team was formed at Claflin University during the Inaugural Entrepreneurship Competition.
					The business competition was a part of the University’s third annual Business Week, themed “The Next Generation of Global Leaders.”
					Jessica, Collins and Queeneth participated in this competition.</p>
			</div>
		</div><!-- end row -->
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="staff-mem">
					<img class="img-responsive img-circle" src="/static/images/team1.jpg" alt="team1">
					<h3>Jessica Mong</h3>
					<h4>Co-Founder and CEO</h4>
					<p>Senior, Computer Engineering</p>
					<p class="sn-links">
						<a href="http://twitter.com/JEMificent" title="twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/jessica.e.mong" title="facebook"><i class="fa fa-facebook"></i></a>
						<a href="https://www.linkedin.com/in/jessicaemong/" title="linked-in"><i class="fa fa-linkedin-square"></i></a>
					</p>
				</div>
			</div><!-- end 3 -->

			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="staff-mem">
					<img class="img-responsive img-circle" src="/static/images/team2.jpg" alt="team2">
					<h3>Collins Sirmah</h3>
					<h4>Co-Founder and CTO</h4>
					<p>Sophomore, Computer Science</p>
					<p class="sn-links">
						<a href="https://twitter.com/STuitoek" title="twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/collins.sirmah.9" title="facebook"><i class="fa fa-facebook"></i></a>
						<a href="http://www.linkedin.com/pub/collins-sirmah/5a/6a/788" title="linked-in"><i class="fa fa-linkedin-square"></i></a>
					</p>
				</div>

			</div><!-- end 3 -->

			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="staff-mem">
					<img class="img-responsive img-circle" src="/static/images/team3.jpg" alt="team3">
					<h3>Queeneth Odimegwu</h3>
					<h4>Co-Founder and CFO</h4>
					<p>Senior, Management Information Systems</p>
					<p class="sn-links">
						<a href="https://twitter.com/Itweet_uvex" title="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" title="linked-in"><i class="fa fa-linkedin-square"></i></a>
					</p>
				</div>
			</div><!-- end 3 -->

		</div><!-- end row -->
	</div><!-- end container -->
</div>

<!-- ========================= SIGN UP STRIP ================================ -->

<div id="signup">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h3>Sign up for the newsletter</h3>
				<p>Enter your email address below to receive regular updates about new version roll-outs of
					The MarketPlace. Also look out for upcoming events and special offers</p>

				<div class="row">
						<form role="form">
							<div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-9   col-xs-12">
								<input type="email" class="form-control"  placeholder="Enter email">
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><button type="submit" class="btn btn-db">Sign up now!</button></div>
						</form>
				</div>
			</div>
		</div><!-- end row -->

	</div><!-- end container -->
</div><!-- end signup -->


<!-- ========================== CONTACT =========================== -->

<div id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
					<h2 class="">Contact Us</h2>
					<p>Do you need more information about this service or investment opportunties? We'd love to hear from you!</p>
					<form role="form">
								<p><input class="form-control" placeholder="Enter name"></p>
								<p><input class="form-control" placeholder="Enter email"></p>
								<p><textarea class="form-control" rows="3"></textarea></p>
								<p><button type="submit" class="btn btn-db">Send</button></p>
						</form>
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
</div><!-- end contact -->


<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<p>&copy; Copyright Beachstrap 2013. All rights reserved.</p>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
				<p class="sn-links"><a href="#" title="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
				<a href="#" title="linked-in"><i class="fa fa-linkedin-square"></i></a></p>
			</div>
		</div>
	</div>
</footer>

</div><!-- end content -->

<!-- ==================== scripts ============================ -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="/static/bootstrap/assets/js/jquery.js"></script>
	 <script src="/static/js/waypoints.min.js"></script>
	 <script src="/static/js/beachstrap-script.js"></script>
	 <script src="/static/js/jquery.nav.js"></script>
	 <script src="/static/js/jquery.scrollTo.js"></script>

	 <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
	 <script src="/static/bootstrap/assets/js/holder.js"></script>

  </body>
</html>
