
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/static/ico/favicon.ico">

    <title>BabaAfrik &#0153; | The MarketPlace</title>

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
	 <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

	 <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/static/css/theme.css" rel="stylesheet">
    <!-- <link href="/static/css/bootstrap-theme.css" rel="stylesheet"> -->

    <!-- BeachStrap styles -->
    <link href="/static/css/beachstrap-styles.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target="#navigation">

	<div id="content">

		<header>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-10 col-xs-9">
						<h1 id="logo">The MarketPlace</h1>
						<!-- <h1 id="logo">The MarketPlace</h1> -->
					</div><!-- end 2 -->
					<div class="col-sm-2 col-xs-3 visible-sm text-right visible-xs">
						<a href="#" title="nav" class="mini-nav"><i class="fa fa-reorder"></i></a>
					</div>

					<div class="col-lg-6 col-lg-offset-3 col-md-7 col-md-offset-2 col-sm-12 col-xs-12">
						<nav id="navigation">
								<ul class="nav">
									<li><a href="/" title="Home">Home</a></li>
									<li><a href="/" title="Contact">Inbox</a></li>


									<li class="dropdown">
              							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img id="profile_pic_1" src="/static/images/tunde.jpg"> <b class="caret"></b></a>
              							
              							<ul class="dropdown-menu">
                							<li><a href="#profile">Profile</a></li>
                							<li><a href="#">View as User</a></li>
                							<li class="divider"></li>
                							<li><a href="/">Logout</a></li>
              							</ul>
            						</li>
								</ul>
						</nav>
					</div><!-- end 12 -->
				</div><!-- end row -->
			</div><!-- end container -->
		</header>

		<div id="pushdown2"></div>

		<div class="container theme-showcase">

		      <!-- Main jumbotron for a primary marketing message or call to action -->
		    <div class="jumbotron">
		        <img id="profile_pic_2" src="/static/images/tunde.jpg">
		        <div id="info">
						<h2> BabaAfrik&#0153;</h2>
							<ul>
								<h3 style="color: ">Babatunde Sanusi </h3>
								<h3>Orangeburg, SC</h3>
								<h3>African Prints in Contemporary Styles</h3>
							</ul>
				</div>
		    </div>	

			<div class="page-header">
	        	<h1>In Stock</h1>
	      	</div>

	      	<div class="row">
	        	<div class="col-sm-4">
	          		<div class="panel panel-default">
	            		<div class="panel-heading">
	              			<h3 class="panel-title">Green and Orange Dress</h3>
	           			</div>

	            		<div class="panel-body">
	              			<img class="clothes" src="/static/images/female_1.jpg">
	            		</div>
	          		</div>

		          	<div class="panel panel-primary">

			            <div class="panel-heading">
			              	<h3 class="panel-title">Cream and Orange Shirt</h3>
			            </div>

			            <div class="panel-body">
			              	<img class="clothes" src="/static/images/male_1.jpg">
			            </div>
		          	</div>
	        	</div><!-- /.col-sm-4 -->

	        	<div class="col-sm-4">
	          		<div class="panel panel-default">
	            		<div class="panel-heading">
	              			<h3 class="panel-title">Green and White Dress</h3>
	           			</div>

	            		<div class="panel-body">
	            			<img class="clothes" src="/static/images/female_2.jpg">
	            		</div>
	          		</div>

		          	<div class="panel panel-primary">

			            <div class="panel-heading">
			              	<h3 class="panel-title">Blue Shirt</h3>
			            </div>

			            <div class="panel-body">
			              	<img class="clothes" src="/static/images/male_3.jpg">
			            </div>
		          	</div>
	        	</div><!-- /.col-sm-4 -->

	        	<div class="col-sm-4">
	          		<div class="panel panel-default">
	            		<div class="panel-heading">
	              			<h3 class="panel-title">Orange Dress</h3>
	           			</div>

	            		<div class="panel-body">
	              			<img class="clothes" src="/static/images/female_3.jpg">
	            		</div>
	          		</div>

		          	<div class="panel panel-primary">

			            <div class="panel-heading">
			              	<h3 class="panel-title">Blue Shirt</h3>
			            </div>

			            <div class="panel-body">
			              	<img class="clothes" src="/static/images/male_2.jpg">
			            </div>
		          	</div>
	        	</div><!-- /.col-sm-4 -->

        	</div><!-- /.col-sm-4 -->
        </div>

        <footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<p>&copy; Copyright The MarketPlace 2014. All rights reserved.</p>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
					
						<p class="sn-links"><a href="#" title="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" title="linked-in"><i class="fa fa-linkedin-square"></i></a></p>
					</div>
				</div>
			</div>
		</footer>

	</div><!-- end content --> 

	<!-- ==================== scripts ============================ -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="/static/bootstrap/assets/js/jquery.js"></script>
	<script src="/static/js/waypoints.min.js"></script>
	<script src="/static/js/beachstrap-script.js"></script>
	<script src="/static/js/jquery.nav.js"></script>
	<script src="/static/js/jquery.scrollTo.js"></script>

	<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/bootstrap/assets/js/holder.js"></script>

  </body>
</html>



<!-- 

<footer id="sticky">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<p>&copy; Copyright Beachstrap 2013. All rights reserved.</p>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
						<p class="sn-links"><a href="#" title="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" title="linked-in"><i class="fa fa-linkedin-square"></i></a></p>
					</div>
				</div>
			</div>
		</footer> -->